<div class="jumbotron">
  <h1>Thank You!</h1>
  <p class="lead">
    Have a nice day! :)
  </p>
  <p>
    <h2>Here! Take this kitty with you!</h2>
  </p>
  <p>
    <img width="75%" height="75%" src="http://d.fastcompany.net/multisite_files/codesign/imagecache/1280/article_feature/848-cute-kitty.jpg" />
  </p>
</div>
