<div class="jumbotron">
  <h1>Thank You!</h1>
  <p class="lead">
    Have a nice day! :)
  </p>
  <p>
    <h2>Here! Take this picture with you!</h2>
  </p>
  <p>
    <%= image_tag(@funny_stuff.name, class: 'goodbyeImage', alt: 'Source: '+@funny_stuff.source)%>
  </p>
</div>
